:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: #0b1b2f;
  --light-grey: #f6f6f6;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus{
  outline: none;
}
select:focus {
  outline: none;
}
select option {
  background: var(--main-blue);
  color: var(--light-grey);
  border: none;
}
input::placeholder {
  color: #dadce0ad;
}
body {
  position: relative;
  z-index: 0;
  background-image: url(/resources/static/images/header_earth.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
body::before{
  background-color: black;
  background: linear-gradient(rgba(255, 255, 255, 0), var(--main-blue), black);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  content: "";
  opacity: 0.9;
  position: absolute;
  height: 140vh;
}
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.join-section {
  display: flex;
  border: 2px solid var(--light-grey);
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  justify-content: space-around;
  margin: 10% auto;
  width: 80%;
  height: 1150px;
  padding: 3% 10%;
  border-radius: 1px;
  text-align: center;
  align-items: center;
}
.join-section h1 {
  margin-bottom: 50px;
}
.join-section label {
  color: var(--light-grey);
  font-size: 18px;
  margin-bottom: 15px;
}
.join-section input {
  background-color: transparent;
  border: 1px solid var(--light-grey);
  height: 40px;
  width: 35%;
  margin-bottom: 20px;
  color: white;
  padding-left: 5px;
}
.user-id-section {
  width: 68%;
}
.join-section select {
  width: 35%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: var(--light-grey);
}
.user-addr {
  width: 70%;
  margin-left: 1%;
}
.user-detailAddr {
  width: 30%;
}
button {
  color: var(--main-blue);
  border: solid 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 45px;
  margin-right: 15px;
}
button:hover {
  transition: 0.1s;
  color: white;
  background-color: var(--main-blue);
}
.join-button {
  margin-top: 50px;
  height: 50px;
}
.email-wrap {
  width: 35%;
  display: flex;
}
#email-id{
  width: 50%;
  margin-right: 1%;
}
#email-addr {
  margin-left: 1%;
  width: 48%;
  height: 40px;
}
