:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  /* --main-blue: #2e7ec8; */
  --main-blue: #0b1b2f;
  --light-grey: #eaeaea;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(#01070f, var(--main-blue));
}
.row {
  display: flex;
}
.row-col {
  display: flex;
  flex-direction: column;
}
input:focus {
  outline: none;
}
.top {
  z-index: 1;
  padding-top: 30px;
  justify-content: right;
  width: 100%;
  height: 50px;
}
.top select {
  z-index: 1;
  width: 60px;
  margin: 0 50px 0 1%;
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 1px;
  background-color: transparent;
}
.top option {
  z-index: 1;
  background-color: transparent;
  color: var(--main-blue);
}
.top a {
  z-index: 1;
  color: var(--light-grey);
  text-decoration: none;
}
.top i {
  z-index: 1;
}
header {
  z-index: 0;
  height: 1000px;
  background-image: url(/resources/static/images/header_earth.jpg);
  position: relative;
  background-size: cover;
}
header::before {
  z-index: -1;
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--main-blue);
  background: linear-gradient(rgba(255, 255, 255, 0), var(--main-blue), black);
}
.logo img {
  margin-left: 28%;
  margin-top: -20px;
  width: 95px;
  opacity: 0.9;
}
.logo {
  z-index: 1;
  width: 100%;
}
.category {
  justify-content: space-between;
  margin-top: 16.8px;
  width: 100%;
  text-align: center;
}
.category a {
  z-index: 1;
  color: var(--light-grey);
  font-size: 14.5px;
  font-weight: 800;
  text-decoration: none;
}
.category-link {
  z-index: 1;
  width: 120px;
  font-weight: 800;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.link-button {
  z-index: 1;
  color: var(--light-grey);
  font-size: 14.5px;
  font-weight: 800;
  border: none;
  background-color: transparent;
}
.dropdown-content {
  z-index: 1;
  width: 130px;
  display: none;
  position: absolute;
  background-color: transparent;
  border-left: 1.2px solid var(--light-grey);
  margin-top: 10px;
}
.dropdown-content a {
  z-index: 1;
  font-weight: 800;
  display: block;
  padding: 12px 18px;
  text-align: center;
  color: var(--light-grey);
}
.dropdown-content a:hover {
  z-index: 1;
  font-weight: 800;
  border-radius: 5px;
  margin-left: 8px;
  background-color: var(--light-grey);
  color: var(--main-blue);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-link {
  margin-right: 20%;
}
.service-link a:hover {
  z-index: 1;
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
}
.client-link a:hover {
  z-index: 1;
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
}
.login-link a:hover {
  z-index: 1;
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
}
.header-text-wrap {
  z-index: 1;
  width: 100%;
  color: white;
  padding-top: 100px;
}
.header-text-wrap h1 {
  z-index: 1;
  font-style: italic;
  font-size: 78px;
  margin-left: 100px;
  margin-top: 70px;
}
.header-text-wrap span {
  z-index: 1;
  margin-left: 10px;
  color: var(--light-grey);
  font-size: 35px;
}
/* 메인화면 서비스소개 css */
.main-service-intro-wrap {
  width: 100%;
  height: auto;
  background-color: #01070f;
  color: white;
  padding: 5% 0 9%;
  text-align: center;
}
.main-service-intro-wrap h1 {
  font-size: 50px;
  width: 100%;
}
.main-service-intro {
  color: var(--light-grey);
  z-index: 1;
  padding-top: 2%;
  width: 100%;
  font-size: 15px;
}
.main-emoji-wrap {
  margin-top: 5%;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.main-emoji-wrap h3 {
  text-align: center;
  font-size: 31px;
  margin: 27px 0;
}
.main-emoji-item {
  text-align: center;
  width: 23%;
}
.emoji i {
  width: 80%;
  height: auto;
  margin: 5% auto 10%;
}
.emoji-text-wrap p {
  font-size: 15px;
  line-height: 25px;
}
.swiper {
  margin-top: 10%;
  width: 80%;
  height: 500px;
  background-color: black;
}
.swiper-slide img {
  position: relative;
  z-index: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.swiper-text-wrap h2 {
  position: absolute;
  z-index: 1;
  top: 20%;
  text-align: center;
  font-size: 42px;
  color: var(--light-grey);
  border-bottom: 2px solid white;
  padding: 1%;
}
.swiper-text-wrap {
  display: flex;
  justify-content: space-around;
}
.swiper-card-wrap {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  top: 47%;
  z-index: 1;
  color: var(--light-grey);
}
.swiper-card {
  width: 240px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 1% 2%;
  margin: 0 2%;
}
.swiper-card-name {
  font-size: 35px;
  margin-bottom: 20px;
}

.swiper-button-next {
  background: url(/resources/static/images/next.png) no-repeat;
  background-size: 200% auto;
  background-position: center;
}
.swiper-button-prev {
  background: url(/resources/static/images/pre.png) no-repeat;
  background-size: 200% auto;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.main-section {
  background: linear-gradient(#01070f, var(--main-blue));
  width: 100%;
  height: auto;
}
.main-graph-section {
  width: 100%;
}
.main-graph-section h1 {
  text-align: center;
  color: white;
  padding-bottom: 2.3%;
  font-size: 40px;
}
/* .main-graph-section img {
  width: 100%;
  height: auto;
} */
/* js - canvas setting */
.canvas-wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px solid #eaeaea8d;
  border-radius: 3px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 5% 0;
}
.canvas-item {
  width: 400px;
}

.main-user-board-list-section {
  padding: 8px;
  color: white;
  border: 1px solid #eaeaea8d;
  border-radius: 3px;
  width: 95%;
  margin: 5% auto 0;
  height: auto;
}
.main-user-board-header {
  text-align: center;
  margin: 3% 0;
  font-size: 45px;
  font-weight: 700;
  color: var(--light-grey);
}
.main-user-board-list-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}
.main-user-board-list-section table thead th {
  font-size: 18px;
  font-weight: 700;
}
.main-user-board-list-section table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.main-user-board-list-section table tbody td {
  text-align: center;
  padding: 10px;
}
.main-user-board-list-section table tr:last-child {
  border-bottom: none;
}
.pagination {
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
}
.pagination a {
  width: 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px 5px;
  color: var(--dark-grey);
}
footer {
  display: flex;
  border: none;
  width: 100%;
  height: 150px;
  color: var(--light-grey);
  background-color: var(--main-blue);
  margin-top: 100px;
}
.footer-img {
  opacity: 0.8;
  width: 33.3%;
  height: auto;
  padding-top: 1.5%;
}
.footer-img img {
  padding-left: 50%;
  height: 90px;
}
.footer-info {
  opacity: 0.8;
  padding-top: 1%;
  text-align: center;
  width: 33.3%;
  line-height: 30px;
}
.footer-btn {
  opacity: 0.8;
  width: 33.3%;
  padding-left: 10%;
  padding-top: 1%;
}
footer button {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--light-grey);
  width: auto;
  height: 30px;
}

/* popup css */
.main-popup {
  display: none;
  z-index: 2;
  position: absolute;
  left: 35%;
  top: 175%;
  border: 1px solid var(--light-grey);
  border-top: none;
  width: 600px;
  height: auto;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.main-popup input {
  background-color: transparent;
  border: none;
}
.top-btn-area {
  width: 100%;
  height: 30px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--light-grey);
}
.top-btn-area button {
  cursor: pointer;
  background-color: red;
  border: none;
  width: 16px;
  height: 16px;
  margin: 7px 5px;
  border-radius: 50%;
  box-shadow: var(--button-shadow);
}
.popup input {
  background-color: transparent;
  border: none;
}
.label-wrap {
  margin-left: 50px;
  margin-top: 100px;
  width: 25%;
}
.input-wrap {
  margin-top: 97px;
  width: 100%;
}
label {
  height: 30px;
  margin-top: 16px;
}
input {
  height: 31px;
  font-size: 17px;
  margin-top: 13px;
  margin-left: 15px;
}
#main-text {
  border: 1px solid var(--light-grey);
  width: 80%;
  height: auto;
}
#comment {
  border: 1px solid var(--light-grey);
  width: 80%;
  height: 50px;
}
.btn-area {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 50px;
}
.btn-area a:hover {
  transition: 0.1s;
  background-color: var(--main-blue);
  color: var(--light-grey);
}
.btn-area a {
  text-decoration: none;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  font-weight: 900;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  box-shadow: var(--button-shadow);
  font-size: 13px;
  padding: 5px;
}
#cnt {
  margin-top: 20px;
}
.main-text-wrap {
  margin-left: 50px;
}
.comment-wrap {
  margin-left: 50px;
}
/* 비밀글 비밀번호 확인창 */
.main-pw-confirm-popup {
  display: none;
  z-index: 2;
  box-shadow: var(--box-inset);
  left: 40%;
  top: 190%;
  position: absolute;
  width: 300px;
  height: 150px;
  background-color: var(--light-grey);
  border-radius: 5px;
}
.pw-confirm-top {
  height: 27px;
  width: 100%;
  background-color: #dadce0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pw-confirm-top button {
  cursor: pointer;
  background-color: red;
  border: none;
  width: 16px;
  height: 16px;
  margin: 7px 5px;
  border-radius: 50%;
  box-shadow: var(--button-shadow);
}
.main-pw-confirm-popup p {
  margin: 15px 50px;
}
.pw-confirm-wrap {
  display: flex;
}
.pw-confirm-wrap input {
  margin: 5px 15px;
  border: none;
}
.pw-confirm-wrap button {
  width: 50px;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  box-shadow: var(--button-shadow);
  height: 30px;
}
.pw-confirm-wrap button:hover {
  background-color: var(--main-blue);
  color: var(--light-grey);
}
