:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: #0b1b2f;
  --light-grey: #eaeaea;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-blue);
  width: 250px;
  height: 100%;
  padding: 20px 30px;
}
.nav-links {
  margin-top: 20%;
  list-style: none;
}
.nav-links li {
  padding: 10px 10px;
}
.nav-links li:hover,
.nav-links a:hover {
  background-color: var(--light-grey);
  color: var(--main-blue);
  border-radius: 10px;
  font-weight: 700;
}
.nav-links a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 10px 4px;
}
.nav-links li a i {
  font-size: 23px;
  margin-right: 20px;
}

/* main board */
.manager-board-main {
  box-shadow: var(--box-inset);
  border-radius: 1px;
  width: 100%;
  margin-top: 5%;
  margin-left: 280px;
  margin-right: 5%;
  padding: 5%;
}
.manager-board-main h1 {
  margin-left: 15px;
}
.manager-board-main table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  text-align: center;
}
.manager-board-main table thead th {
  font-size: 18px;
  font-weight: 700;
}
.manager-board-main table tr {
  border-bottom: 1px solid var(--dark-grey);
  cursor: pointer;
}
.manager-board-main table tbody td {
  text-align: center;
  padding: 10px;
}
.manager-board-main table tr:last-child {
  border-bottom: none;
}
/* log board */
.manager-board-log {
  box-shadow: var(--box-inset);
  border-radius: 1px;
  width: 100%;
  margin-top: 5%;
  margin-left: 280px;
  margin-right: 5%;
  padding: 5%;
}
.manager-board-log h1 {
  margin-left: 15px;
}
.manager-board-log table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  text-align: center;
}
.manager-board-log table thead th {
  font-size: 18px;
  font-weight: 700;
}
.manager-board-log table tr {
  border-bottom: 1px solid var(--dark-grey);
  cursor: pointer;
}
.manager-board-log table tbody td {
  text-align: center;
  padding: 10px;
}
.manager-board-log table tr:last-child {
  border-bottom: none;
}
.pagination {
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
}
.pagination a {
  box-shadow: var(--button-shadow);
  width: 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px 5px;
  color: var(--dark-grey);
}
/* popup css */
input:focus {
  outline: none;
}
.row {
  display: flex;
}
.row-col {
  display: flex;
  flex-direction: column;
}
.popup-logs {
  display: none;
  position: absolute;
  left: 30%;
  top: 9%;
  border: 1px solid var(--dark-grey);
  border-top: none;
  width: 600px;
  height: 500px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.popup-logs input {
  background-color: transparent;
  border: none;
}
.popup {
  display: none;
  position: absolute;
  left: 30%;
  top: 9%;
  border: 1px solid var(--dark-grey);
  border-top: none;
  width: 600px;
  height: auto;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.top-btn-area {
  width: 100%;
  height: 30px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--light-grey);
}
.top-btn-area button {
  cursor: pointer;
  background-color: red;
  border: none;
  width: 16px;
  height: 16px;
  margin: 7px 5px;
  border-radius: 50%;
  box-shadow: var(--button-shadow);
}
.popup input {
  background-color: transparent;
  border: none;
}
.label-wrap {
  margin-left: 50px;
  margin-top: 100px;
  width: 25%;
}
.input-wrap {
  margin-top: 97px;
  width: 100%;
}
label {
  height: 30px;
  margin-top: 16px;
}
input {
  height: 31px;
  font-size: 17px;
  margin-top: 13px;
  margin-left: 15px;
}
#main-text {
  border: 1px solid var(--middel-grey);
  width: 80%;
  height: auto;
}
#comment {
  border: 1px solid var(--middel-grey);
  width: 80%;
  height: 50px;
}
.btn-area {
  margin-top: 50px;
  margin-left: 400px;
  margin-bottom: 50px;
}
.btn-area a:hover {
  transition: 0.1s;
  background-color: var(--main-blue);
  color: var(--light-grey);
}
.btn-area a {
  text-decoration: none;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  font-weight: 900;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  box-shadow: var(--button-shadow);
  font-size: 13px;
  padding: 5px;
}
.logs-delete-button {
  margin-left: 80%;
}
#categry {
  margin-top: 20px;
}
#create-at {
  margin-top: 15px;
}
#cnt {
  margin-top: 20px;
}
#url {
  margin-top: 20px;
}
#http-method {
  margin-top: 15px;
}
.main-text-wrap {
  margin-left: 50px;
}
.comment-wrap {
  margin-left: 50px;
}
