:root {
  --button-shadow: 1px 1px 3px 1px #dadce0;
  --box-inset: 1px 1px 3px 1px #dadce0 inset;
  --main-blue: #0b1b2f;
  --light-grey: #f6f6f6;
  --middel-grey: #6f6669;
  --dark-grey: #5a5256;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
}
input:focus {
  outline: none;
}
.circle-01 {
  z-index: 0;
  position: absolute;
  top: -40%;
  left: 8%;
  border: 5px solid #5ea5e8;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
.circle-02 {
  z-index: 0;
  position: absolute;
  top: -40%;
  left: 1%;
  border: 5px solid #24415c;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
.circle-03 {
  z-index: 0;
  position: absolute;
  top: -40%;
  left: 3%;
  border: 4px solid #cae5ff;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
.top-background-color {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 800px;
  background-image: url(/resources/static/images/header_earth.jpg);
  background-size: cover;
}
.top-background-color::before {
  z-index: -1;
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--main-blue);
  background: linear-gradient(rgba(255, 255, 255, 0), var(--main-blue), black);
}
.bottom-background-color {
  position: relative;
  background: linear-gradient(#01070f, var(--main-blue));
  z-index: 0;
  width: 100%;
  height: 800px;
}
header {
  height: 100px;
}
.top {
  padding: 30px 30px 0;
  justify-content: right;
  width: 100%;
  height: 50px;
}
.top select {
  width: 60px;
  height: 22px;
  color: var(--light-grey);
  margin: 0 50px 0 1%;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  background-color: var(--main-blue);
}
.top option {
  background-color: transparent;
  color: var(--light-grey);
}
.top a {
  color: var(--light-grey);
  text-decoration: none;
}
.header-category {
  width: 100%;
  height: 50px;
}
.logo img {
  margin-left: 28%;
  margin-top: -20px;
  width: 95px;
  opacity: 0.9;
}
.logo {
  z-index: 1;
  width: 100%;
}
.category {
  justify-content: space-between;
  margin-top: 16.8px;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.category a {
  color: white;
  font-size: 14.5px;
  text-decoration: none;
}
.category-link {
  line-height: 27px;
  width: 220px;
  font-weight: 800;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.link-button {
  color: white;
  font-size: 14.5px;
  font-weight: 800;
  height: 50px;
  background-color: transparent;
}
.dropdown-content {
  z-index: 1;
  width: 130px;
  display: none;
  position: absolute;
  background-color: transparent;
  border-left: 1.2px solid var(--light-grey);
}
.dropdown-content a {
  font-weight: 800;
  width: 200px;
  font-size: 15px;
  display: block;
  padding: 5px 18px;
  text-align: left;
  color: var(--light-grey);
}
.dropdown-content a:hover {
  font-weight: 800;
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--light-grey);
  color: var(--main-blue);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-link {
  margin-right: 10%;
}
.service-link{
  line-height: 27px;
  text-align: center;
}
.service-link a:hover {
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
}
.client-link a:hover {
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 8px;
}
.login-link a:hover {
  z-index: 1;
  border-bottom: 3px solid var(--light-grey);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 8px;
}
/* 카테고리별 메인 section */
.statistical-page-main {
  z-index: 1;
  position: absolute;
  top: -60%;
  width: 90%;
  height: 900px;
  margin: 0 5%;
  border-radius: 1px;
  background-color: white;
}
.statistical-page-main-title {
  width: 100%;
  padding: 3% 4% 1%;
  border-bottom: 2px solid var(--main-blue);
}
.by-category-main-section {
  padding: 3%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* 카테고리별 그래프 */
.statistical-page-left-section-graph {
  width: 90%;
}
.statistical-page-right-section {
  width: 110%;
  padding-left: 2%;
}
.statistical-page-left-section-graph img {
  width: 100%;
  height: auto;
}
/* 그래프 들어갈 css */
.canvas-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.canvas-wrapper canvas {
  width: 100%;
  height: auto;
}
/* 카테고리별 select box */
.select-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 10% 0 2%;
}
.select-wrap select {
  color: black;
  border: 2px solid var(--light-grey);
  border-radius: 3px;
  width: 162px;
  height: 30px;
  background-color: transparent;
  margin-right: 5px;
}
/* 사고건수, 사망자 수, 부상자 수 카드 */
.accidents-dead-injury-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  width: 100%;
}
.accidents-card {
  background-color: var(--light-grey);
  color: var(--middel-grey);
  width: 31.3%;
  height: auto;
  border-radius: 1px;
  margin: 0 1% 5%;
  box-shadow: var(--button-shadow);
  padding: 2.5%;
}
.accidents-card:hover {
  transition: 0.1s;
  color: var(--main-blue);
}
.accidents-card h2 {
  width: 100%;
  font-size: 30px;
  margin: 5px 0 10px;
  text-align: center;
}
.accidents-item {
  text-align: right;
  font-size: 55px;
  font-weight: 800;
  margin: -10px 2%;
}
.statistical-page-right-section button {
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
  font-weight: 900;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  box-shadow: var(--button-shadow);
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  width: 80px;
}
.excel-down-button {
  margin-left: 78%;
}
.excel-down-button button {
  width: 100%;
}
.statistical-page-right-section button:hover {
  transition: 0.1s;
  background-color: var(--main-blue);
  color: var(--light-grey);
}
footer {
  position: absolute;
  display: flex;
  bottom: 0;
  border: none;
  width: 100%;
  height: 150px;
  color: var(--light-grey);
  opacity: 0.8;
}
.footer-img {
  width: 33.3%;
  height: auto;
  padding-top: 1.5%;
}
.footer-img img {
  padding-left: 50%;
  height: 90px;
}
.footer-info {
  padding-top: 1%;
  text-align: center;
  width: 33.3%;
  line-height: 30px;
}
.footer-btn {
  width: 33.3%;
  padding-left: 10%;
  padding-top: 1%;
}
footer button {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--light-grey);
  width: auto;
  height: 30px;
}